# build folder
build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vst
*.vst3
*.component

# Mac
*.DS_Store

AmbVerb/Builds/MacOSX/build/Debug/juce_vst3_helper
AmbVerb/Builds/MacOSX/build/Release/juce_vst3_helper
*.xcbkptlist
*.xcscheme
*.xcuserstate
